.scroll-stack-wrapper {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .scroll-stack-inner {
    padding: 10vh 2rem 20vh;
    min-height: 100vh;
  }
  
  .scroll-stack-card {
    width: 100%;
    min-height: 20rem;
    padding: 2rem;
    margin: 20px 0;
  
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  
    transform-origin: top center;
    will-change: transform, filter;
    backface-visibility: hidden;
  
    position: relative;
    transform: translateZ(0);
  }
  
  .scroll-stack-end {
    width: 100%;
    height: 1px;
  }
  